<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Ghi log ra console -->
    <target name="console" xsi:type="Console" layout="${shortdate}|${level:uppercase=true}|${logger}|${message}|${exception}" />
	
	<target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target name="elasticsearch" xsi:type="ElasticSearch"
        uri="http://157.245.153.39:9200"
        index="logstash"
        includeAllFields="true"
        documentType="logEvent"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}"
        batchSize="100"
        deadLetterQueue="true"
        sslEnabled="false"
        connectionTimeout="5000"
        socketTimeout="5000"
        maxRetryCount="3" />
    </target>

    <!-- Ghi log vào Elasticsearch -->
    <target name="elk" xsi:type="WebService">
      <url>http://157.245.153.39:9200/log/create</url>
      <method>POST</method>
      <batchSize>1</batchSize> <!-- Gửi từng log một -->
      <encoding>utf-8</encoding>
      <data>
        <parameter name="level" layout="${level}" />
        <parameter name="message" layout="${message}" />
        <parameter name="logger" layout="${logger}" />
        <parameter name="timestamp" layout="${longdate}" />
      </data>
    </target>
			
	<target name="file" xsi:type="File" fileName="logfile.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}" />
  </targets>

  <rules>
    <!-- Cấu hình ghi log ra console -->
    <logger name="*" minlevel="Debug" writeTo="console,file" />
    
    <!-- Cấu hình ghi log vào Elasticsearch -->
    <logger name="*" minlevel="Info" writeTo="elk" />
  </rules>
</nlog>
