<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="token" value="Basic ZWxhc3RpYzoxMjM0NTY3OEBBYmM=" />

  <targets>
    <!-- Ghi log ra console -->
    <target name="console" xsi:type="Console" layout="${shortdate}|${level:uppercase=true}|${logger}|${message}|${exception}" />

    <target name="elk"
            xsi:type="WebService"
            url="http://157.245.153.39:9200/log/_doc"
            encoding="UTF-8"
            protocol="JsonPost"
            preAuthenticate="True">

        <header name="Authorization" layout="${token}" />
        <parameter name="level" layout="${level}" />
        <parameter name="message" layout="${message}" />
        <parameter name="logger" layout="${logger}" />
        <parameter name="timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
    </target>
			
	<target name="file" xsi:type="File" fileName="logfile.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}" />
  </targets>

  <rules>
    <!-- Cấu hình ghi log ra console -->
    <logger name="*" minlevel="Debug" writeTo="console,file" />
    
    <!-- Cấu hình ghi log vào Elasticsearch -->
    <logger name="*" minlevel="Info" writeTo="elk" />
  </rules>
</nlog>
